<div class="map" id="map"></div>
<div class="sidebar">
    @if(!currentUser) {
        <form [formGroup]="authForm">
            <h1>Чтобы добавить метки на карту необходимо авторизоваться</h1>

            <div class="form">
                <div class="field">
                    <label class="field__label">Email</label>
                    <input class="control" type="text" formControlName="email">
                    <div
                        *ngIf="authForm.controls.email.invalid && (authForm.controls.email.dirty || !authForm.controls.email.untouched)"
                        class="error"
                    >
                        <div *ngIf="authForm.controls.email.hasError('required')">
                            Email обязателен.
                        </div>
                        <div *ngIf="authForm.controls.email.hasError('maxlength')">
                            Email не должен быть длиннее 255 символов.
                        </div>
                        <div *ngIf="authForm.controls.email.hasError('email')">
                            Введите корректный email адрес.
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="field__label">Пароль</label>
                    <input class="control" type="password" formControlName="password">
                    <div
                        *ngIf="authForm.controls.password.invalid && (authForm.controls.password.dirty || !authForm.controls.password.untouched)"
                        class="error"
                    >
                        <div *ngIf="authForm.controls.password.hasError('required')">
                            Введите пароль.
                        </div>
                    </div>
                </div>
                <button class="button" [class.button--loading]="authInProgress" type="submit" (click)="auth()">Регистрация / Вход</button>
            </div>
        </form>
    } @else {
        <h1>Текущий пользователь</h1>

        {{ currentUser.email }}

        <ul class="legend">
           <li class="legend__item legend__item--own">Ваши метки</li>
           <li class="legend__item">Чужие метки</li>
        </ul>

        <button class="button" [class.button--loading]="logoutInProgress" type="button" (click)="logout()">Выход</button>

        <div class="divider"></div>

        <div class="form">
            @if(editPointMode) {
                <h2>Выбрана метка №{{ currentPoint?.id }}</h2>
            } @else {
                <h2>Новая метка</h2>
            }

            <div class="field">
                <label class="field__label">Описание</label>
                <textarea class="control" [formControl]="pointDescriptionControl"></textarea>
                <div
                    *ngIf="pointDescriptionControl.invalid && (pointDescriptionControl.dirty || !pointDescriptionControl.untouched)"
                    class="error"
                >
                    <div *ngIf="pointDescriptionControl.hasError('maxlength')">
                        Максимальная длина 1024 символа.
                    </div>
                </div>
            </div>

            @if(addingPointMode) {
                <div class="message">
                    Нажмите на карту чтобы установить метку в желаемой точке
                </div>

                <button class="button" type="button" (click)="cancel()">Отмена</button>
            } @else if (editPointMode) {
                <div class="button-stack">
                    <button class="button" [class.button--loading]="editPointInProgress" type="button" (click)="editCurrentPoint()">Обновить</button>
                    <button class="button" [class.button--loading]="deletePointInProgress" type="button" (click)="deleteCurrentPoint()">Удалить</button>
                </div>
            } @else {
                <button class="button" type="button" (click)="startAddingPoint()">Добавить</button>
            }

            @if(editPointMode) {
                <div class="divider"></div>
                <button class="button" type="button" (click)="deselectCurrentPoint()">Новая метка</button>
            }
        </div>
    }
</div>
