/* You can add global styles to this file, and also import other style files */

@use './loader';

@include loader.loader-animation();

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
:before,
:after {
    box-sizing: border-box;
}

app-root {
    display: flex;
    height: 100%;
}

/*
 * app-map
 */
app-map {
    flex-grow: 1;
}


/*
 * .warning
 */
.warning {
    background: #ffecc8;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 24px;
}


/*
 * .second-action
 */
.second-action {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
}
.second-action a {
    color: #0060e5;
    text-decoration: none;
}
.second-action a:hover {
    text-decoration: underline;
}


/*
 * .modal
 */
.modal {
    padding: 32px;
    position: relative;
}
.modal__title {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 24px;
}
.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    border: none;
    background: transparent;
    color: #999;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    font-size: 12px;
}
.modal__close:hover {
    background: rgba(#000, .08);
}
.modal__close:active {
    background: rgba(#000, .12);
}


/*
 * .field
 */
.field {
    display: flex;
    flex-direction: column;
}
.field + .field {
    margin-top: 20px;
}
.field__label {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin: 0 0 8px;
}


/*
 * .error
 */
.error {
    margin-top: 6px;
    font-size: 14px;
    color: #c60000;
}


/*
 * .control
 */
.control {
    flex-grow: 1;
    display: block;
    border: 1px solid rgba(#000, .2);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 13px;
    font-family: inherit;
    resize: vertical;
}
input.control {
    height: 36px;
}


/*
 * .button
 */
.button {
    position: relative;
    height: 32px;
    display: block;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    background: rgba(#000, .1);
    cursor: pointer;
    padding: 8px 12px;
    white-space: nowrap;
}
.button:not(.button--loading):hover {
    background: rgba(#000, .12);
}
.button:not(.button--loading):active {
    background: rgba(#000, .15);
}

.button--danger {
    background: #e55050;
    color: #fff;
}
.button--danger:not(.button--loading):hover {
    background: #d94c4c;
}
.button--danger:not(.button--loading):active {
    background: #bf4343;
}

.button--loading {
    color: transparent;
    cursor: default;

    &:after {
        @include loader.loader();
        @include loader.loader-thickness(2px);
        @include loader.loader-size(20px);

        border-color: rgba(#243033, .2);
        border-top-color: rgba(#243033, .6);
    }
}


/*
 * .button-stack
 */
.button-stack {
    display: flex;
    gap: 16px;
}
.field + .button-stack {
    margin-top: 24px;
}
.button-stack .button {
    width: auto;
    flex-grow: 1;
}


/*
 * .marker
 */
.marker {
    width: 0;
    height: 0;
    cursor: pointer;
    font-size: 16px;
}
.marker--alien {
    cursor: default;
}
.marker svg {
    position: relative;
    top: -2.25em;
    left: -0.875em;
    color: #0052bf;
    transition: color .15s;
}
.marker:not(.marker--alien):hover svg {
    color: #1268df;
}
.marker:not(.marker--alien):active svg {
    color: #0052bf;
    transition-duration: 0s;
}
.marker--alien svg {
    color: #333;
}


/*
 * .hint
 */
.hint {
    position: absolute;
    transform: translate(20px, -50%);
    padding: 14px 16px;
    background: white;
    width: 280px;
    border-radius: 4px;
    color: #333;
    word-break: break-word;
    box-shadow:
        0 0 6px rgba(#000, .1),
        0 0 0 1px rgba(#000, .04);
}
.hint__help {
    margin-top: 8px;
    color: #777;
    font-size: 13px;
    line-height: 1.5;
}
.hint--alien .hint__help {
    display: none;
}


/*
 * Customization of Angular Material
 */
html .mat-mdc-snack-bar-container {
    margin-bottom: 32px;
}
html .mat-mdc-dialog-surface {
    border-radius: 8px;
    box-shadow:
        0 1px 6px rgba(#000, .15),
        0 0 0 1px rgba(#000, .04);
    background-color: #fff;
}
